.search-page__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search-page__header--body > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.search-page__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.search-page__options {
  display: flex;
  align-items: center;
  color: grey;
  margin-top: 30px;
}

.search-page__options--left,
.search-page__options--right {
  display: flex;
}

.search-page__options--left a,
.search-page__options--right a {
  text-decoration: none;
  color: gray;
}

.search-page__options--right {
  margin-left: 80px;
}

.search-page__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-page__options--left a {
  margin-left: 5px;
}

.search-page__result {
  margin: 40px 0;
}

.search-page__result--count {
  color: #70757a;
}

.search-page__results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.search-page__result--title {
  text-decoration: none;
}

.search-page__result--title:hover {
  text-decoration: underline;
}

.search-page__result--title > h2 {
    font-weight: 500;
}

.search-page__result--snippet {
    margin-top: 10px;
}

.search-page__result--image {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}